<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta information -->
        <meta charset="UTF-8">
        <meta name="description" content="Reddit Chrome Extension to aid critique or feedback quality.">
        <meta name="author" content="Sunaya Shivakumar">

        <!-- title -->
        <title>CritiqueAid</title>

        <!-- stylesheets -->
        <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css">
        <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">

        <!-- scripts -->
        <script src="../scripts/jquery-3.2.1.min.js"></script>
    </head>

    <body>
        <!-- div that displays the main title of this extension -->
        <div id="ca-header">
            <h2 id="ca-title">
                <span id="ca-yellow">Critique</span><span id="ca-blue">Aid</span>
            </h2>

            <!-- button to submit bug reports and or feedback -->
            <a href="https://goo.gl/forms/1lPBr7cgMIGsp5K42" target="_blank" id="ca-report-link">
                <button id="ca-report" type="button">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                </button>
            </a>
        </div>

        <!-- div that displays the detailed description of the extension, and
        also the help or how-to-use description -->
        <div id="ca-body">
            <!-- about text and description -->
            <p class="ca-header-text">
                About
            </p>
            <p class="ca-text">
                CritiqueAid is Google Chrome extension for the design_critiques subreddit
                that aids in writing meaningful, constructive feedback and critique
                by providing good and bad examples to the user.
            </p>

            <!-- about text heading -->
            <p class="ca-header-text">
                How to use CritiqueAid
            </p>

            <!-- CritiqueAid's how-to-use description -->
            <p class="ca-text">
                Simply search for keywords like "resume", or "portfolio", depending
                on the subject matter that you are critiquing, and you will be shown
                a good sample critique. If you click on the "bad" option in the bottom
                toolbar, you will be shown a bad sample critique. Happy critiquing!
            </p>
        </div>

        <!-- div that displays the tabs or options which include buttons for
        viewing a good example, a bad example, the about view of the extension -->
        <div id="ca-options">
            <ul>
                <!-- option for viewing good example -->
                <li>
                    <a href="popup.html">
                        <button id="good-example" type="button">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <p class="ca-description">
                                Good
                            </p>
                        </button>
                    </a>
                </li>

                <!-- option for viewing bad example -->
                <li>
                    <button id="bad-example" type="button" disabled>
                        <i class="fa fa-ban" aria-hidden="true"></i>
                        <p class="ca-description">
                            Bad
                        </p>
                    </button>
                </li>

                <!-- option for viewing more info about the extension -->
                <li>
                    <a href="about.html">
                        <button id="about" type="button">
                            <i class="fa fa-question" aria-hidden="true"></i>
                            <p class="ca-description">
                                About
                            </p>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </body>

    <!-- popup.js NEEDS to be after the body to execute properly -->
    <script type="text/javascript" src="../scripts/popup.js"></script>
</html>