<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Reddit Chrome Extension to aid critique or feedback quality.">
        <meta name="author" content="Sunaya Shivakumar">
        <title>CritiqueAid</title>
        <link rel="stylesheet" type="text/css" href="../stylesheets/popup.css">
    </head>
    <body>
        <div id="ca-header">
            <h2 id="ca-title">
                <span id="ca-yellow">Critique</span><span id="ca-blue">Aid</span>
            </h2>
        </div>
        <div id="ca-options">
            <a href="chrome-extension://noflkppialgmfjoaceeebpeldjnabkch/views/options.html" target="_blank">Adjust preferences</a>
        </div>
        <div id="ca-feedback">
            <a href="https://goo.gl/forms/1lPBr7cgMIGsp5K42" target="_blank">Provide feedback</a>
        </div>
    </body>
</html>