/* list of styling constants */
:root {
    /* colors */
    --ca-yellow: #FFBF00;
    --ca-blue: #1A70AB;
    --ca-grey: #BCBCBC;

    /* padding */
    --ca-padding-sm: 5px;
    --ca-padding-med: 10px;

    /* other sizes */
    --ca-font-size: 14px;
    --ca-border-radius: 4px;
}

/* elements styles */
body {
    width: 300px;
}

h2 {
    display: inline-block;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    align-content: center;
}

li {
    padding: 0 var(--ca-padding-sm);
}

button {
    font-size: var(--ca-font-size);
    width: 90px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    border: var(--ca-yellow) solid 1px;
    background: none;
    border-radius: var(--ca-border-radius);
}

button:hover, button:active, button.active {
    border: var(--ca-blue) solid 1px;
}

button:disabled {
    border: var(--ca-grey) solid 1px;
}

button:disabled .fa {
    color: var(--ca-grey);
}

button:disabled .ca-description {
    color: var(--ca-grey);
}

button:focus, #ca-search-field:focus, #ca-search:focus, #ca-report:focus, #ca-report-link {
    outline: none;
}

/* ids styles */
#ca-header, #ca-body {
    border-bottom: var(--ca-blue) solid 1px;
    padding: 0px var(--ca-padding-sm);
    justify-content: center;
    margin-bottom: var(--ca-padding-sm);
}

#ca-report {
    display: inline-block;
    float: right;
    outline: none;
}

#ca-yellow {
    color: var(--ca-yellow);
    font-weight: 700;
}

#ca-blue {
    color: var(--ca-blue);
    font-weight: 300;
}

#wrapper {
    border-bottom: var(--ca-grey) dotted 1px;
    margin-bottom: var(--ca-padding-sm);
    display: inline-block;
    vertical-align: middle;
}

#ca-search-field {
    width: 225px;
    border: var(--ca-yellow) solid 1px;
    border-radius: var(--ca-border-radius);
    height: 25px;
    margin: var(--ca-padding-med) 0;
    padding: 0 4px;
}

#ca-search, #ca-report {
    width: 45px;
    height: 27px;
    border: var(--ca-yellow) solid 1px;
    border-radius: var(--ca-border-radius);
    padding: 0 4px;
    text-decoration: none;
    margin: var(--ca-padding-med) 0 var(--ca-padding-med) 5px;
    text-align: center;
    background: none;
    outline: none;
}

#ca-search:hover, #ca-search:active, #ca-report:hover, #ca-report:active {
    border: var(--ca-blue) solid 1px;
}

#ca-link:link, #ca-link:visited {
    text-decoration: none;
}

#ca-link:hover, #ca-link:active {
    text-decoration: underline;
}

#charts-content {
    display: none;
}

#ca-visuals {
    width: 100%;
    height: auto;
    padding: var(--ca-padding-sm) 0;
    margin-bottom: var(--ca-padding-med);
}

#container {
    padding-top: var(--ca-padding-med);
    border-top: var(--ca-grey) dotted 1px;
}

#ca-visuals-values li:not(:last-child) {
    margin-right: 82%;
}

#ca-examples-values li:not(:last-child) {
    margin-right: 18%;
}

#ca-more-examples li:not(:last-child) {
    margin-right: 38%;
}

#ca-more-examples li {
    padding: 0 !important;
}

#next-example, #prev-example {
    height: auto;
    padding: var(--ca-padding-sm) 0;
}

#ca-extra-info {
    display: none;
}

#ca-post-title {
    font-weight: 600;
}

/* classes styles */
.ca-description, .fa {
    color: var(--ca-blue);
    font-size: var(--ca-font-size);
    margin: 0 !important;
}

.fa-search, .fa-paper-plane-o {
    font-size: 12px !important;
}

.ca-header-text {
    color: var(--ca-blue);
    font-size: var(--ca-font-size);
    margin-top: var(--ca-padding-med);
    margin-bottom: 0 !important;
}

.ca-chart {
    margin-bottom: var(--ca-padding-med);
    border-bottom: var(--ca-grey) dotted 1px;
}

.slider {
    -webkit-appearance: none;
    margin-top: 15px;
    width: 100%;
    height: 10px;
    border-radius: var(--ca-border-radius);
    background: var(--ca-grey);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--ca-yellow);
    border: var(--ca-blue) solid 1px;
    cursor: pointer;
}

.selected {
    border: var(--ca-blue) solid 1px;
}
